/*  بدايةالعناصر المشتركه */
/* S glubel class */
/* -------------------------------------------------------------------------- */
:root {
    
    --main-color : #215340;
    --sec-color : #d1a96b;
    --third-color : #f4dcc0;
    --card-background:#f7f7f7;
    --section-background:#ffffff;
    --error-color: #c23232;

    --main-box-shadow:-4px 4px 8px 0px #215340;
    --sec-box-shadow:-4px 4px 8px 0px #d1a96b;
    --main-section-shadow :-2px 2px 15px 0px #475552;

    --main-radios: 10px 10px 10px 0px;

    --main-transition: 0.6s;

    --main-padding-top: 50px;
    --main-padding-bottom: 50px;



}
.dark{

    --main-color : #337d57;
    --card-background:#36454f;
    --section-background:#414a4c;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}
@media (max-width:769px) {
    html{
        font-size: 7px;
    }

}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'El Messiri', sans-serif;
    background-color: var(--card-background);
}

a {
    text-decoration: none;
}

/* reset ul تعمل اعادة تعيين لكل ال */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container2 {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container2 {
        width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container2  {
        width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container2  {
        width: 1170px;
    }
}
/* تنسيق جيمع الازرار */
.main-btn {
    border: 1px solid var(--third-color);
    border-radius: 15px 0px;
    color: var(--main-color);
    z-index: 0;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 4px 13px;
    position: relative;
}
.main-btn:hover{
    color: var(--main-color);
}
.main-btn:after {
    content: "";
    background: var(--sec-color);
    height: 100%;
    left: 4px;
    position: absolute;
    top: 4px;
    transition: .2s;
    width: 100%;
    z-index: -1;
    border-radius: 15px 0px;
}
.main-btn:hover::after{
    left: 0;
    top: 0;
}

/* تنسيق كل السكشنات */
.section{
    background-color: var(--section-background);
    padding: 30px 15px;
    border-radius: 20px;
    margin-bottom: 50px;
    box-shadow: var(--main-section-shadow);
}

/* تنسيق جميع هدر وعناوين السكشنات */
.head-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--sec-color);
}
.head-section .see-more{
    display: flex;
    align-items: center;
    background: var(--main-color);
    color: var(--sec-color);
    font-size: 1.5rem;
    border-radius: var(--main-radios);
    padding: 2px 4px;
    gap: 2px;
}
.main-title{
    color: var(--main-color);
    margin-right: 10px;
    font-size: 3.5rem;
    font-weight: 900;
    position: relative;
    width: fit-content;
    transition: var(--main-transition);
    z-index: 1;
}
.main-title::after{
    content: "";
    position: absolute;
    right: -10px;
    top: 55%;
    transform: translate(0, -59%);
    height: 86%;
    width: 4px;
    background-color: var(--sec-color);
    border-radius: 10px;
    transition: var(--main-transition);
    z-index: -1;
}
.main-title:hover{
    color: var(--sec-color);
}
.main-title:hover::after{
    width: calc(100% + 15px);
    box-shadow: var(--main-box-shadow);
    background-color: var(--main-color);
}

/* لياوت خططه بنفسي */
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
}
@media (max-width:707px) {
    .grid{
        grid-template-columns: repeat(auto-fill,minmax(170px,1fr));
        gap: 30px;
    }
}
@media (max-width:400px) {
    .grid{
        grid-template-columns: repeat(auto-fill,minmax(165px,1fr));
        gap: 30px;
    }
}


/* E glubel class */
/* ------------------------------------------------------------------------ */
/* S nav */

.nav{
    position: fixed;
    z-index: 20000;
    right: 1%;
    bottom: 50%;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 26px;
    background: var(--main-color);
    padding: 8px 1px;
    border-radius: var(--main-radios);
    box-shadow: 0px 0px 8px 2px #215340;
}
.nav #btn-mood{
    position: absolute;
    left: -13px;
    bottom: -9px;
    border-radius: 50%;
    cursor: pointer;
    background: var(--sec-color);
    padding: 4px;
    display: flex;
    box-shadow: -4px 1px 8px 0px #215340;
    color: var(--main-color);
    font-size: 2.2rem;

}

.nav a.active{
    position: relative;
    background: var(--sec-color);
    padding: 5px;
    border-radius: 50%;
    border: 7px solid var(--main-color);
    margin-left: -16px;
    box-shadow: -6px 0px 12px 0px #215340;
}
.nav a.active svg {
    color: var(--main-color);
}
.nav a.active::before{
    content: "";
    position: absolute;
    background: var(--sec-color);
    right: -10px;
    bottom: 50%;
    width: 8px;
    height: 8px;
    transform: translateY(50%);
    border-radius: 50%;
}
.nav a img{
    width: 50px;
    border-radius: 50%;
}
.nav a svg{
    color: var(--sec-color);
    font-size: 30px;
}
.nav a span{
    display: none;
}
@media (max-width:480px) {
    .nav{
        bottom: 1%;
        transform: translateY(0);
        flex-direction: row;
        width: 90%;
        margin-right: 5%;
        /* margin-left: auto; */
        align-items: center;
        justify-content: space-around;
        padding: 3px;
        }
    .nav #btn-mood{
        left: -2px;
        bottom: 79%;
    }
    .nav a.active{
        margin-left: 0;
        margin-top: -36px;
        padding: 8px;
        border-width: 13px;
    }
    .nav a.active::before{
        bottom: -16px;
        right: 50%;
        transform: translateX(50%);
        width: 11px;
        height: 11px;
    }

}
/* E nav */
/* S header */
.header{
    position: relative;
    height: 60px;
    background-color: var(--main-color);
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
}
.header .container2::before{
    position: absolute;
    content: "";
    width: 80%;
    height: 2px;
    left: 10%;
    bottom: 1px;
    z-index: 2;
    background: var(--sec-color);
    border-radius: 14px;
}
.header .container2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    position: relative;
}
.header .form {
    display: flex;
    align-items: center;
    background: #356e59;
    padding: 6px 0;
    border-radius: 30px;
    overflow: hidden;
    justify-content: end;
}
.header .form svg{
    color: var(--sec-color);
    font-size: 18px;
    padding-left: 7px;
    border-left: 2px solid var(--sec-color);
    border-radius: 2px;
}
.header .form input{
    background: transparent;
    height: 100%;
    width: 83%;
    border: none;
    padding-right: 5px;
    color: var(--sec-color);
    font-weight: 400;
}
.header .form input:focus {
    outline: none;
}

.header .form input::placeholder {
    color: var(--sec-color);
    font-size: 16px;
    font-weight:600;
    padding-right: 5px;
}
.header ul{
    position: relative;
}
.header ul .drop-down{
    display: none;
    font-size: 2.7rem;
    font-weight: bold;
    color: var(--sec-color);
    align-items: center;
    gap: 2px;
}
.header ul .list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.header ul li a{
    color: var(--sec-color);
    font-size: 2.7rem;
    font-weight: bold;
}
.header .logo{}
.header .logo h2{
    color: var(--sec-color);
}
@media (max-width:620px) {
    .header ul .drop-down{
        display: flex;
    }
    .header .drop-down:hover +.list {
        opacity: 1;
        top:99%;
    }
    .header ul .list{
        position: absolute;
        top: 160%;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: column;
        gap: 2px;
        background: var(--main-color);
        border: 1px solid var(--sec-color);
        border-radius: var(--main-radios);
        padding: 10px 20px;
        z-index: 100;
        transition: top var(--main-transition), opacity var(--main-transition);
        opacity: 0;
    }
}
/* E header */
/* S footer */
.footer{
    background-color: var(--main-color);
    color: var(--sec-color);
}
.footer .container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: var(--main-padding-top) 0 30px;
    gap: 20px;
}
@media (max-width:480px) {
    .footer .container{
        flex-direction: column;
        align-items: center;
    }
}
.footer .logo a{
    display: flex;
    align-items: center;
}
.footer .logo img:first-child{
    width: 60px;
}
.footer .logo img:last-child{
    width: 80px;
}
.footer .logo p{
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--sec-color);
}
.footer h2{
    font-size: 2.2rem;
    margin-bottom: 10px;
}
.footer .contact li{
    margin-right: 6px;
    margin-bottom: 5px;
}
.footer .contact li a {
    color: var(--sec-color);
}
.footer .contact svg{
    font-size: 1.7rem;
    margin-left: 6px;
}
.footer .contact ul span{
    font-size: 1.4rem;
    font-weight: 700;
}
.footer .social{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
}
.footer .social svg{
    font-size: 2.2rem;
    color: var(--main-color-alt);
}
.footer .help li{
    margin-right: 6px;
    margin-bottom: 5px;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text-box);
}
.footer form{
    width: 85%;
    height: 30px;
    background: var(--section-background);
    background: var(--card-background);
    margin-right: 10px;
    border-radius: var(--main-radios);
    overflow: hidden;
    display: flex;
    align-items: center;
}
.footer form input{
    background: var(--section-background);
    border: none;
    width: 85%;
    color: var(--sec-color);
    font-size: 1.3rem;
    font-weight: 700;
    padding: 0 5px;
    height: 100%;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--sec-color);
}
.footer form input:focus{
    outline: none;
}
.footer form input::placeholder{
    color: var(--sec-color);
    font-size: 1.3rem;
    font-weight: 700;
}
.footer form button{
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--sec-color);
    cursor: pointer;
    border: none;
}
.footer form button svg{
    color: var(--main-color);
    font-size: 1.5rem;
}
/* عشان الناف بار ما يغطية */
@media (max-width: 480px) {
    .footer {
        padding-bottom: 58px;
    }
}
/* ُE footer */
/* تعديلات على السلايدر بار */
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom,0px);
    top: var(--swiper-pagination-top,auto);
    left: 0;
    width: 100%;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    transform: scale(1);
    background: var(--sec-color);
}
/* نهاية السلايدر */

/* تعديلات على البوت ستراب */
.row>*{
    padding: 0 !important;
}
/* نهاية البوتستراب */
/* العناصر المشتركه نهاية ---------------------------------------------------------*/

/* s profile */
.profile {
    margin-top: 80px;
    text-align: center;
}
.profile .img{
    max-width: 130px;
    margin-left: auto;
    margin-right: auto;
    background: var(--card-background);
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid var(--main-color);
    margin-bottom: 30px;
}
.profile .img img{
    max-width: 100%;
}
.profile .information{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 5%;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--main-color);
}
.profile .information .top {
    display: flex;
    justify-content: center;
    gap: 3%;
}
.profile .information .top > div{
    text-align: start;
    width: 50%;
}
.profile .information .top .bigger input{

}
.profile .information .bottom {
    margin-bottom: 30px;
}
.profile .information .top > div > div {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}

.profile .information div label{
    color: var(--main-color);
    font-size: 2.5rem;
    font-weight: bold;
}
.profile .information > div input{
    width: 44%;
    border-radius: var(--main-radios);
    height: 31px;
    border: 2px solid var(--main-color);
    color: var(--sec-color);
    font-size: 1.9rem;
}
.profile .information .top .bigger input{
    width: 78%;
}
input:disabled {
    background: transparent;
    border: none !important;
    font-size: 2.2rem !important;
    font-weight: bold;
}
.information .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.information .btns .save{
    display: none;
    border-color: var(--main-color);
    color: var(--sec-color);
}
.information .btns .save::after{
    background: var(--main-color);
}

.information .btns .cancel{
    display: none;
}

@media (max-width:992px) {
    .profile .information{
        padding: 0;
        padding-bottom: 30px;
    }
}
@media (max-width:560px) {
    .profile .information .top{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .profile .information .top > div{
        width: fit-content;
    }
}
.profile .purchases {
    border-color: var(--main-color);
    color: var(--sec-color);
    display: block;
    margin-top: 50px;
}
.profile .purchases::after{
    background: var(--main-color);

}
.profile .out{
    border-color: var(--error-color);
    color: var(--card-background);
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.profile .out::after{
    background-color: var(--error-color);
}
.profile .out svg {
    transform: rotateY(180deg);
}
/*E profile */